<% provide(:title, "关于") %>
<div class="container-fix">
  <div class="row">
    <h1>关于400px - 四百像素网</h1>

    <p>中国设计师与艺术家交流的空间。</p>

    <p>网站管理员联系方式 :
      <%= mail_to 'webmaster@mg.400px.net', 'webmaster@mg.400px.net' %>
    </p>

  </div>
</div>