<div class="container-fix">
  <div class="row">
    <div class="col-md-8">
      <h2>关于邀请码</h2>
      <h5>为何我们要使用邀请机制？</h5>
      <ol>
        <li>400px.cn专注于为艺术家和设计师服务。邀请机制能有效避免无关信息泛滥。</li>
        <li>只有符合资格的设计师或艺术家才能发布作品，从而保持400px.cn的作品始终在一定的水准之上。</li>
      </ol>
      <h5>如何获得邀请码？</h5>
      <p>你可以通过两个途径：</p>
      <ol>
        <li>向你认识的400px.cn用户索取。</li>
        <li>发邮件到这个地址: <%= mail_to "icode@mg.400px.net", "icode@mg.400px.net" %> 。附上你的简介、作品地址或者直接附上作品。</li>
      </ol>
    </div>

  </div>

</div>