<% provide(:title, "收件箱 - 私信") %>
<div class="container-fix">
  <h1><i class="fa fa-envelope"></i> 私信</h1>

  <div class="row">
    <div class="col-md-8">

      <ul class="nav nav-tabs mailbox-nav">
        <li role="presentation" class="active"><a href="<%= messages_path %>">收件箱</a></li>
        <li role="presentation"><a href="<%= sent_messages_path %>">发件箱</a></li>

      </ul>

      <% if @messages.any? %>
      <%= render 'messages/list' %>
<% else %>
      <p>还没有收到任何私信。</p>
      <% end %>
    </div>
  </div>

  <div class="row row-centered">
    <%= will_paginate @messages, :page_links => false, next_label: "<i class='fa fa-angle-right fa-2x'></i>", previous_label: "<i class='fa fa-angle-left fa-2x'></i>" %>
  </div>

</div>