<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>欢迎加入400px.net, <%= @user.name %></h1>
<p>
  你已经成功加入了400px.net设计师社交网站,
  你的登录邮箱地址是: <%= @user.email %>.<br>
</p>
<p>
 要登录我们的网站, 请打开这个链接: <%= @url %>.
</p>
<p>感谢你的加入，祝你今天过得愉快!</p>
<p>http://400px.net --- 中国设计师与艺术家的社交平台</p>
</body>
</html>