<span>
  <a data-remote="true" data-method="post" href="<%= like_comment_path(comment) %>">赞</a></span>

<% if  comment.likes_count > 0 %>
<span class="pull-right">
      <i class="fa fa-heart"></i>
      <span id="commentsLikesCount_<%= comment.id  %>"><%= comment.likes_count %></span></span>
<% end %>


