<a id="unthanks_sumbit_link" href="<%= unthank_work_path %>" data-remote="true" data-method="post"><i class="fa fa-heart fa-2x-s"></i> 取消感谢</a>

<span <%= "class=pull-right" if signed_user_but_not_self?(@work.user.id) %>><span id="thanks-count">
            <% unless signed_user_but_not_self? @work.user.id %>
            <i class="fa fa-heart  fa-2x-s"></i><% end %>

  <%= @work.thanks_count %></span> 人已感谢</span>