<% if @feed_items.any? %>
    <div class="container-xl">
    <div class="row">

        <%= render @feed_items %>

    </div>

    <div class="row">
      <%= will_paginate @feed_items, :page_links => false, next_label: "<i class='fa fa-angle-right fa-2x'></i>", previous_label: "<i class='fa fa-angle-left fa-2x'></i>" %>
    </div>
</div>

    <!-- Modal -->
    <div class="modal" id="workModal" tabindex="-1" role="dialog" aria-labelledby="workModalLabel">
      <div class="modal-dialog modal-work" role="document">
        <div class="modal-content ">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body" id="workModalBody">

          </div>

        </div>
      </div>
    </div>
<% else %>

    <p class="im-centered alert"><i class="fa fa-info-circle"></i> 没有任何动态可显示，因为你还没有关注任何人。<a href="designers/all?domain_id=-1"> 点击这里关注更多的设计师/艺术家</a></p>

<% end %>
