<% provide(:title, @user.name) %>
<%= render "designers/user_profile_s", user: @user  %>
<div class="page-title-m">
<h1><%= "#{@user.name} / 标签 / #{@tag.name} "  %></h1>
</div>
<div class="row">
  <div class="col-md-12">
    <%= render 'shared/feed' %>
  </div>
</div>