$font-size-base: 13px;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


.container-xl{
  @extend .container;
  //background-color: lightyellow;
}
@media (min-width: 1800px) {
  .container-xl{
    width: 1764px;
  }
}
@media (min-width: 1550px) and (max-width: 1799px ) {
  .container-xl{
    width: 1512px;
  }
}
@media (min-width: 1300px) and (max-width: 1549px ) {
  .container-xl{
    width: 1260px;
  }
}
@media (min-width: 1050px) and (max-width: 1299px ) {
  .container-xl{
    width: 1008px;
  }
}
@media (min-width: 800px) and (max-width: 1049px ) {
  .container-xl{
    width: 756px;
  }
}
@media (min-width: 550px) and (max-width: 799px ) {
  .container-xl{
    width: 504px;
  }
}
.container-fix{
  @extend .container;
  width: 960px;
}
.xy-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

* {
  font-family: "Helvetica Neue", Helvetica, "Lantinghei SC", "Microsoft Yahei UI", "Microsoft Yahei", Arial, sans-serif;
}

$siteGrey: lighten(black, 95%);
$siteGreyMiddle: lighten(black, 65%);
$siteGreyLight: lighten(black, 85%);
$siteGreyDark: lighten(black, 35%);
$purple:  #cd00cd;
.row-centered {
  text-align:center;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: #fff;
  background-color:$purple;
}
.new-work{
  //background-color: lightyellow;
  margin:30px 0px;
}
h1{
  //font-weight: normal;
  font-size: 24px;
  a{
    color: $siteGreyDark;
  }
}

h2{
  font-size: 18px;
}
h3{
  font-size: 16px;
}

h4{
  font-size: 14px;
}
ol{
  padding: 0px;

}
.site-notice{
  //@extend .alert;
  //@extend .alert-dismissible;
   text-align: center;
  padding: 10px 25px;
  margin-bottom: 0px;
  font-weight: bold;
  border-radius: 0px;

}
.notice{
  @extend .alert-info;
}
.alert{
  @extend .alert-warning;
}
.tiny-text{
  font-size: 11px;
}
.center{
  //position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  //font-size: 24px;
  line-height: 1;
  text-align: center;
  border-bottom: 1px solid $siteGreyLight;

}
.white-font{
  color: #ffffff !important;
}
.welcome{
  text-align: center;
  background-color: #444444;
  color: $siteGreyLight;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 14px;
  font-weight: bold;
  .btn{
    margin-left: 5px;
  }
}
.my-tool-tip + .tooltip > .tooltip-inner  {
  font-size: 11px !important;
  padding: 6px 8px!important;

}
a.is_original{
  color: lighten( green, 10%) !important;
}
.btn{
  padding: 5px 10px;
}
.btn-xs{
  padding: 3px 6px;
}
.btn-default{
  background-color: lighten(black,75%);
  border-color:  lighten(black,70%);
}
em{
  font-style: normal;
}
body {
  padding-top: 54px;
  background-color: $siteGrey;
}
.site-nav{
  .container-fluid{
    padding-top: 3px;
    padding-left: 25px;
    padding-right: 25px;
  }
  border-bottom: black 1px solid;
  .active  a{
    background-color: transparent !important;
  }
}
.btn-primary{
  background-color:  $purple ;
  border-color: darken($purple, 5%);

}
a.btn-primary:hover{
  background-color: lighten($purple, 10%) ;
}
.show-i {
  display: inline;
}
.modal-work {
  /* new custom width */
  width: 910px;


}

.modal-content{
  //padding: 30px !important;
}
#workModal{
  //width: 840px;

  border-radius: 3px;
  .modal-header{
    border-bottom: 0px;
  }
  .modal-body{
    padding: 0px 28px;
  }
  .modal-content{
    background-color: $siteGrey;
   padding: 10px 15px;

  }
}
.badge {

  margin-top: -12px;
  margin-left: -6px;
  background-color: darken(red, 10%);

}
.im-centered { margin: auto; width: 790px;
}
hr {
  border-color: $siteGreyLight;
}
.work-tags{
  padding: 0px 15px;
}
.work-innter{
  margin-bottom: 20px;

}
.topbar {

  padding: 15px 15px;
  background-color: lighten($siteGrey, 3%);
  border-bottom: solid 1px $siteGreyLight;
  border-top: solid 1px $siteGreyLight;
}

.navbar-brand {
  padding-top: 15px;
}

.pagination {
  .disabled {
    display: none;
  }
  li > a, li:last-child > a, li:first-child > a {
    color: $siteGrey;
    margin-right: 20px;
    background-color: $siteGreyMiddle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
  }
}

#nav-user-name {
  padding-top: 12px;
  padding-bottom: 10px;
}

.dropdown-menu {

  background-color: black;
  .divider {
    background-color: $siteGreyDark;
  }
  li > a {
    color: $siteGreyMiddle;
  }
}


.work-desc{
  font-size: 14px;
  line-height: 200%;
  margin-bottom: 30px;

}
.avatar {
  border-radius: 50%;
}

.avatar-mini {
  @extend .avatar;
  height: 16px;
  width: 16px;
}
.vcard{
  margin-bottom: 0px;
}
.user-card{
  h2{
    font-size: 16px;
    margin-top: 0px;
    img{
      float: left;
      margin-right: 15px;
    }
  }
.meta{
  font-weight: normal;
  font-size: 12px;
  display: block;
  margin: 4px 0 0 0;
}
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid $siteGreyLight;
  .works{
    width: 388px;
    //background-color: lightyellow;
    @extend .pull-right;

    a {
      margin-right: 10px;
      &:last-child{
        margin-right: 0px;
      }
    }
  }
}
.work-brief{
  h1,h2{
    padding-top: 0px !important;
    padding-bottom: 10px !important;
  }
  img{
    float: left;
    margin-right: 15px;
  }
}
.work-image-mini{
  background-color: #ffffff;
  padding: 5px;
  border-radius: 3px;


}
.users-more-domains{



 .dropdown-menu{
   padding: 10px;
   left: -280px;
   li{
     font-size: 12px;
     margin-bottom: 5px;

   }
 }
}
.more-domains{
  margin-top: -20px ;
}
.domain-list{
  @extend .simple-shadow;
  background-color: #ffffff;
  border-radius: 3px ;
  padding: 15px;
  margin-top: 15px ;
  margin-bottom: 30px;
  a{
    color: $siteGreyDark;
    font-size: 12px;
  }
  #border: 1px solid black;
}
.profile {
  margin-top: 30px;
  span {
    font-size: 12px;
  }
  input {
    font-size: 18px;
    //font-weight: bold;
  }
}
//----designers
.card-left{
  width: 330px;
}
.member-acts{

  //background-color: lightyellow;
  .meta-name{
    font-size: 11px ;
  }
  .follow-form{
    float: left;
    padding-top:8px ;
    padding-right:5px ;

  }
}
.avatar-box {
  input {
    font-size: 12px;
  }
  h4 {
    margin-top: 0px;
  }
  img {
    margin-bottom: 15px;
    border-radius: 50px;
  }
  p {
    margin: 10px 0px;
    font-size: 12px;
  }
}
.tags-search{
  height: 280px;
  input[type=text]{
    width: 300px;
  }
}
//---work item
.work-item {
  a {
    color: $siteGreyDark;
  }
  width: 222px;
  height: 222px;
  @extend .pull-left;
  margin-top: 30px;
  margin-right: 15px;
  margin-left: 15px;
  .user-info {

    font-size: 12px;
    margin-left: 10px;
    margin-top: 10px;
    img {
      margin-top: -4px;
    }

  }

}
button.btn.btn-primary{
  margin-bottom: 5px;
  &:hover {
    background-color: lighten($purple, 10%);
    border-color: $purple;
  }

}
.autocomplete-suggestions{
  background-color: #ffffff;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;

  padding: 10px;
}
.explore-top{
  font-size: 13px;
  font-weight: bold;
  color: $siteGreyDark;
  ul{
    margin-bottom: 0px;
  }
  li{
    margin-right: 10px;
    .active{
      color: $siteGreyDark;
    }
  }
  .dropdown-toggle{


    color:  $siteGreyDark;
  }
  .dropdown-menu{

    box-shadow: rgba(0, 0, 0, 0.1) 1px 3px 3px 0px;
    left: -12px;
    margin-top: 15px;
    border-top: none;
    //border-radius-topleft: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-color: $siteGreyLight;
    background-color: rgb(250, 250, 250);

    a {

      padding-left: 15px;

      font-size: 12px;
      color: $siteGreyDark;

    }
  }
  text-align: center;
  a{
    font-weight: bold;

    color: $siteGreyMiddle;

    &:hover{
      text-decoration: none;
    }
  }
}
.drop-xl{
  width: 400px;
  padding: 0px 0px 10px 15px;

}
.page-title-m{
  text-align: center;
  color: $siteGreyMiddle;
}
.designer-info{
  h2{
    color: $siteGreyMiddle;
  }
  text-align: center;
  //background-color: lightyellow;
  .avatar{
    margin-top: -30px;
  }

  li{
    padding-bottom: 5px;
  }
}
#new-work-link{
    margin-top: 10px;
    margin-right: 10px;
    background-color: $siteGreyDark;
    font-weight: bold;
    border-color: darken($siteGreyDark, 5%);
    padding: 5px 10px !important;

}
.image-frame-100{
  background-color: #ffffff;
  padding: 5px;
  width: 112px;
  height: 86px;
  @extend .simple-shadow;
}
.underline-a{
  text-decoration: underline;
}

.org-work-info{
  @extend .clearfix;
  padding: 10px;
  border-radius: 3px;
  h4{
    margin-top: 0px;
  }
  background-color: $siteGrey;
  .image-frame-100{
    @extend .pull-left;
    margin-right: 10px;

  }

  .avatar{
    @extend .pull-left;
    margin-right: 10px;
  }


}
.more-works{
  margin-top: 10px;
  padding-top: 10px;

  border-top: 1px solid $siteGreyLight;

  .image-frame{
    @extend .image-frame-100;

    @extend  .pull-left;


    margin-top: 15px;
    margin-right: 15px;
  }

}
table.sign-up-table{
  //vertical-align: middle;
  label{
    margin-bottom: 0px ;
    margin-top: 8px;

  }
  tr td {
   padding: 10px 0px;
    vertical-align: top;
  }
}
input[type=text], input[type=email], input[type=password]{
 font-size: 18px;
}
.comment-form{
  //background-color: lightyellow;
  margin-top: 15px;

}
.timeline-flash{
  margin-bottom: 15px;
  border-bottom: 1px solid $siteGreyLight;
  padding-bottom: 10px;

}
.fa-2x-s {
  font-size: 18px;
}

.act-box {
  color: lighten(black, 60%);
  //margin-top: 80px;
  padding: 15px;
  .act-item {
    font-size: 13px;
    border-bottom: solid 1px $siteGreyLight;
    i {
      width: 23px;
    }
    padding: 15px 0px;
    .ext-info {
      font-size: 12px;
    }
  }
}
.del{
  text-decoration: line-through;
}
.work-wrap {
  padding-top: 50px;
}
.work-header-inner {
  .user-avatar {
    padding-right: 15px;

  }
  .title {
    //background-color: greenyellow;
  }
  .pub-info {
    font-size: 12px;
    //background-color: gold;
    li {
      padding-left: 0px;
    }
  }
  //margin-top: 30px;
  //background-color: gold;
}

.work-box {
  width: 490px !important;
  //background-color: yellow;
  margin-bottom: 30px;
  .desc {
    font-size: 16px;
  }
}

.work-sider {
  width: 300px !important;
  //background-color: yellow;
  a{
    color: $siteGreyDark;
  }
  a:hover{
    color: darken($siteGreyDark, 75%);
    text-decoration: none;

  }
}
.simple-shadow{
  border-left: #E9E9E9 1px solid;
  border-right: #E9E9E9 1px solid;
  border-bottom: #DDD 1px solid;
}
.work-image {
  margin: 30px 0px;
  width: 460px;
  border-radius: 3px;
  padding: 30px;
  background-color: white;
  @extend .simple-shadow;

}

.work-item-frame {

  color: $siteGreyMiddle;
  position: relative;
  border-radius: 3px;
  background-color: white;
  height: 190px;
  padding: 10px;
  border-left: #E9E9E9 1px solid;
  border-right: #E9E9E9 1px solid;
  border-bottom: #DDD 1px solid;

  ul {
    text-align: right;
    margin-bottom: 5px;
    li{
      font-size: 12px;
      &:last-child{
        padding-right: 0px;
      }
    }
  }
  img {
    margin-bottom: 5px;
  }

}
//comments

.timestamp {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

em {

  font-size: 12px;
}

a.fill-div {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

.ref-info {
  overflow-y: scroll;
  max-height: 400px;
}

p.description{
  word-wrap: break-word;
  //color: red;
  line-height: 1.6em !important;
}

.work-item-frame-info {

  word-wrap: break-word;
  display: none;
  color: $siteGreyDark;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100%;
  margin: 0 auto;
  width: 200px;
  height: 150px;
  background-color: white;
  opacity: 0.9;
  span ,p{
    font-size: 11px;

  }
}

#newSkillModal{

    font-size: 12px;

}
//comments
.sep{
  padding: 0 5px;
}
.comments{
  li{
    border-bottom: 1px solid $siteGreyLight;
  }
  //background-color: lightyellow;
  padding-top: 15px;
}
.comments_header {
   border-bottom: solid 1px $siteGreyLight;
}
.comment-body, .comment-meta{
  padding-left: 30px;
  a{
    color: $siteGreyDark;
  }
}
.edit-title
{
  margin-top: 30px;
  margin-left: 30px;

}
.mailbox-nav{
  margin-bottom: 30px;
}
.msg-show-sidebar{
  li{
    padding: 5px 0px;
  }
}
.message-content{
  p {
    font-size: 13px;
    line-height: 2 !important;
  }
}
.folder-list{
  width: 1000px;
}
.page-m-tools{
  font-size: 12px;

}
.folder-box{
  @extend .simple-shadow;

  a{
    &:hover{
      text-decoration: none;
    }
  }
  margin: 14px;
  h3{
    font-size: 14px;
    margin: 10px 0px 0px 0px ;
  }
  background-color: #ffffff;
  padding: 10px !important;
  border-radius: 3px;
  .favorite-image{
    margin-bottom: 10px;
  }
  .favarite-thumbs{
    height: 45px;
    img{
      margin-right : 10px !important;
      margin-left: 0px !important;
      padding: 0px !important;

      &:last-child{
        margin-right: 0px !important;
      }
    }

  }
}
.meta{
  margin-top: 5px;
  display: block;
  font-size: 12px;
  color: $siteGreyDark;
}
.comment-meta{
  font-size: 12px ;
}
.comment-body{
  //@extend .clearfix;
  //background-color: lightyellow;
}
.domain-name{
  color: $siteGreyMiddle;
}
.tag-name{
  font-weight: normal;
  color: $siteGreyMiddle;
  font-size: 18px;
}
//
.favorites-list{
  font-size: 14px;
}
.sidebar{
  h5,h4{
    color: $siteGreyMiddle;
  }
}
//-------------tags
.tag {
  background-color: lighten($siteGreyMiddle, 15%);
  font-weight: normal;
  font-size: 12px;
  border: solid 1px $siteGreyMiddle;
  padding: 3px 6px;
  border-radius: 15px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  a {
    color: $siteGreyDark;
    &:hover {
      text-decoration: none;
    }
  }
}
.user-header-wrap{
  color: $siteGreyDark;
  a{
    color: $siteGreyDark;
  }
  .btn{
    @extend .btn-xs;
  }
  background-color: lighten($siteGreyLight, 5%);
  border: 1px solid $siteGreyLight;
}
.user-header{
  padding: 15px;
  li, a {
    padding-right: 5px;
  }
}
.pubtime{
  font-size: 12px;
  color: $siteGreyMiddle;
}
// notificcations
.notificcations {
  li {
    border-bottom: 1px solid $siteGreyLight;
    padding: 10px;
  }
  .unchecked {
    background-color: lighten(lightskyblue, 20%);
  }
}
.webui-popover-title{
  color: $siteGreyMiddle;
}
.nav-notice{
  h4{
    font-family: "Helvetica Neue", Helvetica, "Lantinghei SC", "Microsoft Yahei UI", "Microsoft Yahei", Arial, sans-serif;
    margin-top: 2px;
    margin-bottom: 2px;
    color: $siteGreyDark;
  }
  .popover-content {

    padding: 0px;
    overflow-y: auto;
    width: 320px;
    height: 350px;
    .xy-center{
      color: $siteGreyMiddle;
      font-size: 12px;
    }
  }
  .popover-footer{
    @extend .clearfix;
    //background-color: $siteGrey;
    padding: 8px 14px;
  }
  .all-notice{
    color: $siteGreyDark;
    @extend .pull-right;

  }
  max-width: none;
  border-radius: 3px;
  top: 42px !important;
}
#error_explanation{
  h2{
    margin: 0px;
  }
  background-color: lighten(red, 40%);
  padding: 10px;
  border: 1px solid lighten(red,30%);
  border-radius: 3px;
  color: red;
  margin-bottom: 20px;

}
.field_with_errors{
  @extend .form-group;
  @extend .has-error;

}
//------footer
footer {

  a{
    color: $siteGreyDark;
  }
  .footer-icon{
    font-size: 12px;

  }
  i{
    margin-top: 10px;
    margin-left: 10px;
  }
  margin-top: 60px;
  font-size: 12px;
  border-top: solid 1px $siteGreyLight;
  color: $siteGreyMiddle;

  background-color: white;
  padding: 25px 10px  ;
  .links-etc{
    text-align: right;
  }
}