<p>你好， <%= @resource.email %>!</p>

<p>我们收到了你更改密码的请求. 你可以点击下面的链接更改密码.</p>

<p><%= link_to '点击这里更改密码', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>如果你没有请求更改密码, 请忽略这封邮件.</p>
<p>除非你上面的链接并重新更改密码，否则你的密码不会被更改。</p>
<p>Your password won't change until you access the link above and create a new one.</p>
